<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoTest Suite</title>
</head>
<body>
    <h1>Enter Website Details to Test</h1>
    <form method="POST" action="{% url 'web-application-create' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter website name" required>
        <input type="url" name="url" placeholder="Enter website URL" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
